body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

.header-navigation-logo,
.footer-logo {
  font-size: 18px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.navigation-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.navigation-link:hover,
.navigation-link:focus {
  color: #404bbf;
}
.logo-text-web {
  color: #2e2f42;
}
.footer-text-web {
  color: #f4f4fd;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header-address {
  font-style: normal;
}
.header-address-mailto,
.header-address-tel {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.header-address-mailto:hover,
.header-address-tel:hover,
.header-address-mailto:focus,
.header-address-tel:focus {
  color: #404bbf;
}

.hero-banner {
  background-color: #2e2f42;
}
.hero-banner-text {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-banner-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.hero-banner-button:hover,
.hero-banner-button:focus {
  background-color: #404bbf;
}

.our-team {
  background-color: #f4f4fd;
}

.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  width: 1440px;
  height: 312px;
}
